.todoItems{ 
    display:flex;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
    margin-top: 5px;
    border: rgb(41, 37, 37) 2px solid;
    border-radius: 25px;
}

.todoItems-container{
    display: flex;
}

.todoitems-text{
    padding-left: 16px;
    color: #404040;
    font-size: 22px;
    margin-top: 6px;
}

.todiItems-cross-icon{
    cursor: pointer;
    padding-right: 35px;
}

.line-through{
    text-decoration: line-through;
}

.todoItems-tick-icon{
    margin-left: 20px;
    max-height: 40px;
}